footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #F89D24;

  padding: 0rem;
  padding-bottom: 1rem;

  background-color: rgb(49, 49, 49);
  color: white;
}

.footer__container{
  width: calc(100% - 40px);
  max-width: 1200px;

  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.2rem 0;
}

form label {
  font-size: 1.5rem;
}

input[type="email"], textarea{
  display: block;
  color: #333333;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 3px solid #F89D24;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

textarea{
  height: 150px;

}


#my-form-button {
  display: block;
  padding: 19px 39px 18px 39px;
  color: #ffffff;
  background: #F89D24;
  font-size: 18px;
  width: 100%;
  border: 2px solid #000000;
  border-width: 1px 1px 3px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .3s;
  outline: none;
}

#my-form-button:hover {
 background: #109177;
}


.footer__contato {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__contato div {
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.footer__contato div:hover {
  background-color: #535353;
}

.footer__contato div img {
  width: 20px;
  margin-right: 0.5rem;
}

.footer__contato div h3 {
  font-size: 1.2rem;
}

.footer__contato div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}



@media(min-width: 600px) {
  footer > div {
    padding-bottom: 3rem;
  }
  .footer__container{
    width: calc(100% - 100px);
  }

  .footer__contato div {
    width: 50%;
  }

  form {
    margin: 0;
  }

  .footer__contato {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer__contato div img {
    width: 35px;
    margin-right: 0.8rem;
  }
}

@media(min-width: 1024px) {
  footer {
    padding: 0
  }
  .footer__container{
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
  }

  .footer__contato div {
    width: 100%;
  }

  form {
    width: 40%;
  }

  footer > div {
    width: 40%;
  }

  .footer__contato {
    flex-direction: column;
    justify-content: center;
  }
}