footer {
  border-top: 1px solid #F89D24;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(49, 49, 49);
  color: white;
  width: 100%;
  height: 220px;
}

footer p {
  font-size: 1.2rem;
}

footer p:first-child {
  margin-top: 3rem;
}

footer img {
  width: 30px;
}

footer img:hover {
animation: HoverIcon 0.3s both;
}

@media(min-width: 600px) {
  footer {
    height: 290px;
  }
  footer p {
    margin: 1rem;
  }
}

@media(min-width: 1024px) {
  footer {
    height: 180px;
  }
}